.organisers-container {
  border: #ced2e3;
  border-radius: 10px;
  padding: 18px 20px 20px 20px;
  margin: 24px auto;
  background: rgba(183, 211, 222, 0.817);
  width: 95%;
  max-width: 500px;
  font-family: 'Public Sans', sans-serif;
}

.organisers-header {
  display: inline-block;
  background:  #ded48f;
  color: #444;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 2px;
  padding: 4px 18px;
  border-radius: 3px;
  border: 2px solid #bdbdbd;
  margin-top: -32px;
  margin-bottom: 12px;
  position: relative;
  left: 12px;
}

.organisers-content {
  margin-top: 8px;
  font-size: 0.7rem;
  color: #222;
  line-height: 1.7;
}

.organisers-section {
  margin-bottom: 16px;
}
